* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: #f0f0f0;
}

.slider h1 {
  margin-bottom: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
}

.chevronLeft {
  position: absolute;
  top: 52%;
  left: 20%;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  background: #000;
  backdrop-filter: blur(20px);
  border-radius: 4px;
}
.chevronRight {
  position: absolute;
  top: 52%;
  right: 20%;
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  background: #000;
  backdrop-filter: blur(10px);
  border-radius: 4px;
}

@media(max-width: 700px) {
  .chevronLeft {
    left: 10%;
    font-size: 1.6rem;
  }

  .chevronRight {
    right: 10%;
    font-size: 1.6rem;
  }
}

@media(max-width: 490px) {
  .chevronLeft {
    top: 52%;
    font-size: 1.2rem;
  }
  .chevronRight {
    top: 52%;
    font-size: 1.2rem;
  }
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom:20%;
  width: 400px;
  gap: 15px;
}

.dot {
  width: 200px;
  height: 8px;
  font-size: 2rem;
  background: #fff;
  border-radius: 10px;
}

.active {
  background: #212ea2;
}

@media(min-width: 1000px) {
  .dots {
    bottom: 20%;
  }
}

@media(max-width: 1080px) {
  .dots {
    width: 200px;
    gap: 10px;
    bottom: 30%;
  }

  .dot {
    width: 100px;
    height: 6px;
  }
} 

@media(max-width: 500px) {
  .dot {
    background: #212ea2
  }

  .active {
    background: #000000b5;
  }
}